html { 
  background: url(images/sand.jpg) no-repeat center center fixed; 
  color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Sora', sans-serif;
  background-color: black; 
  opacity: 100%;
}

.top {
  color: white;
  text-align: center;
  padding: 50px;
}

.title {
  text-align: center;
  padding: 100px;
}

.content {
  color: grey;
  text-align: center;
  padding: 10px;
}

.footer { 
  color: grey;
  text-align: center;
}

.name_sam {
  background-size: 260px;
  height: 180px;
  width: 260px;
  background-repeat: no-repeat;
  display: inline;
  position: relative;
  top: 10px;
  padding: 0px 30px 0px 30px;
  font-size: 50px;
}

.regular_li {
  display: inline-block;
  padding: 30px;
}

.main-title {
  font-size: 30px;
  color: white;
}

.lining {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
}

.content {
  color: white;
}

a.button2 {
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
}